{% block app_backend_form_jquery_date_type_widget %}
    <div class="clearfix">
    {% if widget == "single_text" %}
        {{ block("form_widget_simple") }}
    {% else %}
        <div {{ block("widget_container_attributes") }}>
            {{ date_pattern|replace({
            "{{ year }}":  form_widget(form.year, {'attr': {'class': 'form-control pull-left select-year', 'data-sonata-select2' : 'false'}}),
            "{{ month }}": form_widget(form.month, {'attr': {'class': 'form-control pull-left select-month', 'data-sonata-select2' : 'false'}}),
            "{{ day }}":   form_widget(form.day, {'attr': {'class': 'form-control pull-left select-day', 'data-sonata-select2' : 'false'}})
            })|raw }}

            {% set attr = {"size": 10}|merge(attr) %}
            {% set id = "datepicker_" ~ id %}
            {% set value = '' %}
            {% set full_name = "datepicker_" ~ full_name %}
            {{ block("hidden_widget") }}
        </div>
    {% endif %}
    </div>
    {% if widget != "single_text" %}
        {# UPDATES FOR SELECT2 #}
        <script type="text/javascript">
        $(document).ready(function() {
            if (window.SONATA_CONFIG && window.SONATA_CONFIG.USE_SELECT2 && window.Select2) {
                $field = $('#{% if widget != "single_text" %}datepicker_{% endif %}{{ id }}');
                var $year = $('#{{ form.year.vars.id }}');
                var $month = $('#{{ form.month.vars.id }}');
                var $day = $('#{{ form.day.vars.id }}');
                $field.datepicker( "option", "onSelect", function(date) {
                    $year.select2("val", parseInt(date.substring(0, 4), 10));
                    $month.select2("val", parseInt(date.substring(5, 7), 10));
                    $day.select2("val", parseInt(date.substring(8), 10));
                });
            }
        })
        </script>
    {% endif %}
{% endblock %}
