<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head>
<meta charset="utf-8">
{# sonata_seo_head_attributes() #}
{% block page_title %}
{{ sonata_seo_title() }}
{% endblock %}
{% block page_metadatas %}{{ sonata_seo_metadatas() }}{% endblock %}
{# sonata_seo_link_canonical() #}
{% block javascripts %}
    {% javascripts filter='?closure' output="assets-built/js/main.js"
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        'assets-built/js/fos_js_routes.js'
        'assets/vendor/requirejs/require.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block requirejs %}
        {{ include('AppFrontendBundle::_requirejs.html.twig', {module: false}) }}
    {% endblock %}
    {% if app.environment == 'dev' %}
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endif %}
{% endblock %}
<link rel="stylesheet" href="{{ asset(assetsPath~'/css/main.css') }}"/>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="{{ app.request.attributes.get('_controller')|extract_current_controller }}">
    {% block body %}
    {% endblock %}
</body>
</html>
