<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head>
{% block page_title %}
{{ sonata_seo_title() }}
{% endblock %}
{% block page_metadata %}{{ sonata_seo_metadatas() }}{% endblock %}
{% block stylesheets %}
{% stylesheets filter='cssrewrite,?yui_css' output="css/site.css"
'bundles/appfrontend/css/main.css'
%}
<link href="{{ asset_url }}" rel="stylesheet" media="screen" />
{% endstylesheets %}
{% endblock %}
{% block javascripts %}
{% javascripts filter='?closure' output="js/site.js"
'@AppGeneralBundle/Resources/public/js/jquery.min.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>