<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head>
<meta charset="utf-8">
{# sonata_seo_head_attributes() #}
{% block page_title %}
{{ sonata_seo_title() }}
{% endblock %}
{% block page_metadatas %}{{ sonata_seo_metadatas() }}{% endblock %}
{# sonata_seo_link_canonical() #}
{#
    This replaces the javascripts block. Required modules are added
    to the dom as script tags with the async attribute. This means
    that only the actual require.js file is "blocking" (except for IE9 and earlier),
    and it's *less* important to have JavaScripts in the footer.
    Additionally, putting them here (which will cause *some* blocking),
    could cause your JavaScript to start responding faster since
    it begins downloading earlier.
    Usage in children templates (notice you don't need to call parent()),
    since the app/default module is *always* loaded in _requirejs.html.twig.

    {% block requirejs %}
        {{ include('EventBundle::_requirejs.html.twig', {
            module: 'app/mypage'
        }) }}
    {% endblock %}
#}
{% block javascripts %}
    {% block requirejs %}
        {{ include('AppFrontendBundle::_requirejs.html.twig', {module: false}) }}
    {% endblock %}
    {% if app.environment == 'dev' %}
        <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% endif %}
{% endblock %}
<link rel="stylesheet" href="{{ asset(assetsPath~'/css/main.css') }}"/>
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="{{ app.request.attributes.get('_controller')|extract_current_controller }}">
    {% block body %}
    {% endblock %}
</body>
</html>
