{% extends base_template %}

{% block actions %}
    <div class="sonata-actions">
        {% include 'AppBackendBundle:CRUD:create_button.html.twig' %}
        {% include 'AppBackendBundle:CRUD:list_button.html.twig' %}
    </div>
{% endblock %}

{% block side_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active'}, 'list') }}{% endblock %}

{% block content %}
    <div class="sonata-ba-delete">

        <h1>{{ 'title_batch_confirmation'|trans({}, 'SonataAdminBundle') }}</h1>

        {% if data.all_elements %}
            {{ 'message_batch_all_confirmation'|trans({}, 'SonataAdminBundle') }}
        {% else %}
            {% transchoice data.idx|length with {'%count%': data.idx|length} from 'SonataAdminBundle' %}message_batch_confirmation{% endtranschoice %}
        {% endif %}

        <div class="well form-actions">
            <form action="{{ admin.generateUrl('batch', admin.filterParameters) }}" method="POST" >
                <input type="hidden" name="confirmation" value="ok" />
                <input type="hidden" name="data" value="{{ data|json_encode }}" />

                <div style="display: none">
                    {{ form_rest(form) }}
                </div>

                {#<input type="submit" class="btn btn-danger" value="{{ 'btn_execute_batch_action'|trans({}, 'SonataAdminBundle') }}" />#}
                <button type="submit" class="btn btn-danger"><i class="icon-trash icon-white"></i> {{ 'btn_execute_batch_action'|trans({}, 'SonataAdminBundle') }}</button>
                {% if admin.hasRoute('list') and admin.isGranted('LIST') %}
                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}

                    <a class="btn btn-success" href="{{ admin.generateUrl('list') }}">
                        <i class="icon-th-list icon-white"></i> {{ 'link_action_list'|trans({}, 'SonataAdminBundle') }}
                    </a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
